.grey-button {
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.2px;
  color: $text-color-main;
  padding: 19px 30px 20px;
  min-height: 62px;
  border-radius: 31px;
  border: 1px solid $text-color-main;
  transition: color 0.3s ease-in-out, border 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), background-color 0.3s ease-in-out;

  &:hover {
   color: #ffffff;
   border-color: #ffffff;
   background-color: lighten($text-color-main, 10%) 
  }
}