.main-btn {
  position: relative;
  width: 246px;
  min-height: 56px;
  font-size: 18px;
  font-weight: bold;
  line-height: 3.11;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  background-color: $btn-color-main;
  overflow: hidden;
  border-radius: 28px;
  box-shadow: 0px 7px 9px 0 rgba(100, 115, 151, 0.15), 0px 13px 21px 0 rgba(20, 80, 204, 0.27), 0px 13px 21px 0 rgba(0, 0, 0, 0.15), 0px 4px 16px 0 rgba(102, 145, 233, 0.33), 0px 4px 16px 0 rgba(0, 0, 0, 0.09), 0px 3px 9px 0 rgba(53, 103, 205, 0.09), 0px 3px 9px 0 rgba(0, 0, 0, 0.09), 0px 3px 3px 0 rgba(102, 145, 233, 0.09), 0px 3px 3px 0 rgba(0, 0, 0, 0.17);
  span {
    position: relative;
    z-index: 20;
  }
  &:after {
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1;
    background-image: linear-gradient( to right, $btn-color-main 0%, #646c92 40%, #646c92 60%, $btn-color-main 100%);
    transition: left 0.7s;
  }
  &:hover:after {
    left: 200%;
  }
}

.main-btn--right-gradient {
  font-size: 16px;
  width: 96px;
  min-height: 40px;
  line-height: 1em;
  background-color: $btn-color-main;
  border-radius: 20px;
  &:after {
    width: 300%;
    height: 300%;
    left: 0;
    background-image: linear-gradient( to top left, $btn-color-main 0%, #6379d0 70%, $btn-color-main 100%);
    transition: top 0.5s, left 0.5s;
  }
  &:hover:after {
    top: -300%;
    left: -300%;
  }
}

.main-btn--light {
  background-color: #5e7bea;
  box-shadow: 0px 7px 9px 0 rgba(26, 230, 218, 0.15), 0px 13px 21px 0 rgba(26, 230, 218, 0.27), 0px 13px 21px 0 rgba(0, 0, 0, 0.15), 0px 4px 16px 0 rgba(26, 230, 218, 0.33), 0px 4px 16px 0 rgba(0, 0, 0, 0.09), 0px 3px 9px 0 rgba(26, 230, 218, 0.09), 0px 3px 9px 0 rgba(0, 0, 0, 0.09), 0px 3px 3px 0 rgba(26, 230, 218, 0.09), 0px 3px 3px 0 rgba(0, 0, 0, 0.17);
  &:after {
    background-image: linear-gradient( to right, #5e7bea 0%, #35bce0 40%, #35bce0 60%, #5e7bea 100%);
  }
}