.login-btn__icon {
  display: inline-block;
  width: 16px;
  fill: $btn-color-main;
  vertical-align: middle;
  margin-right: 8px;
}

.login-btn {
  font-size: 16px;
  height: 30px;
  color: $text-color-dark;
  background-color: #fff;
  font-weight: 700;
}

.user-nav__singup {
  margin-left: 15px;

  @include media(575px) {
    display: none;
  }
}