.download {
  margin-top: 126px;
  position: relative;
}

.download__skew-bcg {
  position: absolute;
  top: -73px;
  left: 0;
  z-index: -200;
  width: 100%;
  height: 728px;
  transform: skewY(-6.5deg);
  box-shadow: inset 0px 89px 305px -82px rgba(0, 0, 0, 0.10);
}

.download__container {
  position: relative;
}

.download__content {
  text-align: right;
  max-width: 450px;
  margin: 0 auto;
  padding-right: 14px;
  @include media(998px) {
    margin-left: 10%;
  }
  @include media(760px) {
    max-width: 100%;
  }
  @include media(575px) {
    margin: 0;
  }
}

.download__title {
  font-size: 36px;
  line-height: 0.61;
  letter-spacing: 0.4px;
  color: $text-color-dark;
  margin: 0;
  @include media(575px) {
    font-size: 26px;
  }
}

.download__text {
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.2px;
  color: $text-color-main;
  margin: 27px 0 0;
}

.download__links {
  margin-top: 29px;
  & :last-child {
    margin-left: 6px;
  }
  a {
    @include media(575px) {
      width: 48%;
    }
  }
  img {
    @include media(575px) {
      width: 100%;
    }
  }
}

.download__img {
  position: absolute;
  bottom: -182px;
  right: 6%;
  z-index: -10;
  max-width: 578px;
  width: 42%;
  @include media(1251px) {
    right: 1%;
  }
  @include media(998px) {
    width: 50%;
  }
  @include media(760px) {
    display: none;
  }
}