.partners {
  margin-top: 104px;
}

.partners__container {
  max-width: 974px;
  padding-left: 52px;
}

.partners__text {
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: right;
  color: #7a7a7a;
  margin: 0;
}