.support {
  margin-top: 240px;
}

.support__container {
  max-width: 652px;
}

.support__title {
  font-size: 36px;
  line-height: 0.83;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.4px;
  color: $text-color-dark;
  margin: 0;
}

.support__text {
  font-size: 29px;
  line-height: 1.28;
  letter-spacing: 0.3px;
  color: $text-color-main;
  margin: 5px 0 0;
}

.support__buttons {
  margin-top: 39px;
  display: flex;
  justify-content: center;
}

.support__upgrate-btn {
  min-width: 246px;
  img {
    width: 25px;
    vertical-align: sub;
    margin-right: 10px;
  }
}

.support__donate-btn {
  min-width: 166px;
  margin-left: 51px;
  img {
    width: 23px;
    vertical-align: middle;
  }

}