.support {
  margin-top: 240px;
  @include media(615px) {
    margin-top: 100px;
  }
}

.support__container {
  max-width: 700px;
}

.support__title {
  font-size: 36px;
  line-height: 0.83;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.4px;
  color: $text-color-dark;
  margin: 0;
  @include media(575px) {
    font-size: 26px;
    line-height: 1;
  }
}

.support__text {
  font-size: 29px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: 0.3px;
  color: $text-color-main;
  margin: 5px 0 0;
  @include media(575px) {
    font-size: 18px;
    margin-top: 10px;
  }
}

.support__buttons {
  margin-top: 39px;
  display: flex;
  justify-content: center;
  @include media(575px) {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

.support__upgrate-btn {
  width: 246px;
}

.support__upgrate-icon {
  width: 24px;
  height: 19.19px;
  vertical-align: sub;
  margin-right: 4px;
}

.support__donate-btn {
  width: 166px;
  margin-left: 51px;
  @include media(575px) {
    margin-left: 0;
    margin-top: 20px;
  }
}

.support__donate-icon {
  width: 11px;
  height: 19.55px;
  vertical-align: sub;
}