@mixin media($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin triangle() {
  width: 0;
  height: 0;
  border-style: solid;
}

@mixin triangle-top($width, $height, $color) {
  @include triangle();
  border-width: 0 ($width / 2) $height ($width / 2);
  border-color: transparent transparent $color transparent;
}

@mixin triangle-bottom($width, $height, $color) {
  @include triangle();
  border-width: $height ($width / 2) 0 ($width / 2);
  border-color: $color transparent transparent transparent;
}

@mixin triangle-left($width, $height, $color) {
  @include triangle();
  border-width: ($width / 2)$height ($width / 2) 0;
  border-color: transparent $color transparent transparent;
}

@mixin triangle-right($width, $height, $color) {
  @include triangle();
  border-width: ($width / 2) 0 ($width / 2) $height;
  border-color: transparent transparent transparent $color;
}