.footer {
  margin-top: 150px;
  line-height: 1.64;
  letter-spacing: 0.1px;
  color: $text-color-dark;
  a {
    color: $text-color-dark;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  @include media(575px) {
    margin-top: 65px;
  }
}

.footer__accented,
.footer__title {
  font-weight: bold;
}

.footer__title {
  margin: 0 0 20px;
  font-size: 18px;
  text-align: right;
  @include media(575px) {
    font-size: 16px;
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 229px;
  @include media(1080px) {
    padding-right: 0;
  }
  @include media(668px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @include media(575px) {
    font-size: 12px;
  }
}

.footer__menus {
  display: flex;
  flex-basis: 527px;
  justify-content: space-between;
  @include media(998px) {
    flex-basis: 60%;
  }
  @include media(668px) {
    flex-basis: 100%;
  }
}

.footer__contacts {
  @include media(668px) {
    order: 2;
    margin-top: 40px;
  }
}

.footer__support-link {
  margin-top: 27px;
}

.footer__list {
  text-align: right;
}

.footer__menu-item {
  &::after {
    content: "•";
    margin-left: 5px;
  }
}

.footer__bottom {
  margin-top: 80px;
  font-size: 12px;
  @include media(668px) {
    margin-top: 40px;
  }
}

.footer__social-links {
  @include media(668px) {
    text-align: center;
  }
  a {
    margin-right: 8px;
  }
  a:not(:first-child) {
    margin-left: 8px;
  }
  a:hover,
  a:focus {
    text-decoration: none;
    border-bottom: 1px solid $text-color-dark;
  }
}

.footer__copyright {
  @include media(668px) {
    text-align: center;
  }
}