//colors
$text-color-main: #959393;
$text-color-dark: #454545d7;

$btn-color-main: #5f2966;

//sizes
$base-font-size: 16px;
$content-size: 1402px;

//fonts
$font-main: 'Titillium Web', Arial, sans-serif;