.header {
  padding-top: 67px;
}

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__menu {
  margin-left: auto;
}

.header__user-nav {
  margin-left: 68px;
}

.header__language {
  font-size: 14px;
  color: $text-color-main;
  word-spacing: 7px;
  padding-top: 9px;
  padding-left: 3px;
}

.header__language-item {
  display: inline;
  cursor: pointer;
  &--active {
    font-weight: 700;
    border-bottom: 1px solid #647397;
    word-spacing: normal;
    margin-right: 7px;
  }
}



@import "./page-menu.scss";
@import "./logo.scss";