.header {
  padding-top: 67px;
  position: relative;
  @include media(1024px) {
    padding-top: 30px;
  }
  @include media(998px) {
    padding-top: 20px;
  }
}

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include media(998px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.header__menu {
  margin-left: auto;
  @include media(998px) {
    width: 100%;
    order: 3;
  }
}

.header__user-nav {
  margin-left: 68px;
  @include media(575px) {
    margin-left: 10px;
  }
}

.header__language {
  @include media(998px) {
    position: absolute;
    top: 32px;
    right: 220px;
  }

  @include media(575px) {
    top: 29px;
    right: 97px;

  }

}


@import "./page-menu.scss";
@import "./logo.scss";
@import "./language.scss";