.page-menu__list {
  display: flex;
}
.page-menu__item {
  & + & {
    margin-left: 24px;
  }
}

.page-menu__link {
  font-size: 16px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #454545;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .3s ease-out;
  &:hover,  &:focus {
    border-bottom-color: #454545;
  }
}