.app-store-link,
.google-play-link {
  width: 46px;
  height: 46px;
  margin-left: 19px;
  background-color: $btn-color-main;
  border-radius: 50%;
  &:hover {
    background-image: linear-gradient(to right, #646c92, $btn-color-main);
  }
}

.app-store-link {
  padding: 9px 8px 17px
}

.google-play-link {
  padding: 12px 13px 12px 12px
}

.app-store-link__icon {
  width: 30px;
}

.google-play-link__icon {
  width: 26px;
}
