.herro {
  width: 100%;
  min-height: 657px;
  background: url("./images/herro.jpg") no-repeat top center;
  background-size: 100% auto;
  padding-top: 163px;
}

.herro__container {
  max-width: 800px;
}

.herro__title {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-align: center;
  color: rgba(69, 69, 69, 0.84);
  margin: 0;
}

.herro__desc {
  font-size: 36px;
  line-height: 1.56;
  letter-spacing: 0.4px;
  text-align: center;
  color: rgba(70, 70, 70, 0.84);
  margin: 0;
}

.herro__social {
  position: absolute;
  top: 323px;
  right: 33px;
}

.herro__buttons {
  margin-top: 67px;
  text-align: center;
}

@import "./app-buttons.scss";